h3,h4,h5,p,li,ul,label,button,input {
    padding: 0;
    margin: 0;
}

i {
    font-style: normal;
}

body {
    background-color: #f6f6f6;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "\5FAE\8F6F\96C5\9ED1";
}

#header {
    position: relative;
    height: 70px;
    background-color: #f22e00;
}

#header .boxwrap {
    width: 990px;
    margin: 0 auto;
}

#header .logo {
    float: left;
    padding-top: 20px;
    margin: 0;
}

#header .logo a {
    color: #000;
    text-decoration: none;
    font-family: "Microsoft Yahei","冬青黑体简体中文 w3","宋体";
    letter-spacing: 1px;
    width: 300px;
}

#header .logo span {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
}

#options {
    margin: 0 auto;
    max-width: 990px;
}

#options li {
    list-style: none;
}

#options .hd {
    margin-bottom: 30px;
    margin-top: 40px;
    float: left;
}

#options .bd {
    float: left;
}

#options .hd h3 {
    height: 30px;
    margin-bottom: 30px;
    color: #fd6802;
    font-size: 22px;
}

#options .bd .left {
    width: 110px;
    height: 45px;
    float: left;
}

#options .bd .right {
    width: 800px;
    height: 45px;
    float: left;
}

#options .bd .right .hint {
    color: #ff0000;
    display: inline-block;
    line-height: 32px;
    height: 32px;
}

#options .bd h4 {
    font-size: 18px;
    text-indent: -22px;
}

#options .bd h4 i {
    margin-right: 15px;
}

.btn-cur-out {
    cursor: pointer;
    display: inline-block;
    margin-right: 15px;
    float: left;
}

.btn-cur {
    position: relative;
    display: block;
    width: 120px;
    height: 30px;
    line-height: 30px;
    background: -webkit-linear-gradient(top,#b5b5b5,#bbb);
    box-shadow: 1px 1px 1px rgba(0,0,0,.1) inset;
    border: 1px solid #b5b5b5;
    border-radius: 15px;
    color: #fff;
    font-size: 14px;
}

.btn-cur-out input[type=checkbox],.btn-cur-out input[type=radio] {
    display: none;
}

.btn-cur i {
    display: block;
    width: 28px;
    height: 28px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,.3);
    position: absolute;
    left: 1px;
    top: 1px;
    border-radius: 14px;
    -webkit-transition: left .2s ease;
}

.btn-cur .open,.btn-cur .close {
    position: absolute;
}

.btn-cur-out .open {
    display: none;
    left: 12px;
    text-align: center;
}

.btn-cur-out .close {
    left: 35px;
    top: 0;
    text-align: center;
}

.btn-cur-out input:checked+.btn-cur .open {
    display: block;
}

.btn-cur-out input:checked+.btn-cur .close {
    display: none;
}

.btn-cur-out input:checked+.btn-cur {
    background: -webkit-linear-gradient(#52d933,#26bb49);
    border: 1px solid #52d933;
}

.btn-cur-out input:checked+.btn-cur i {
    left: 90px;
}

#QA {
    margin: 0 auto;
    max-width: 990px;
}

#QA .title {
    margin-bottom: 30px;
    margin-top: 40px;
    float: left;
    width: 100%;
}

#QA .title h3 {
    font-size: 22px;
    color: #fd6802;
}

#QA .content {
    float: left;
    width: 100%;
}

#QA ol {
    list-style-type: decimal;
}

#QA ol li {
    margin-bottom: 20px;
}

#QA .question {
    color: blue;
    margin-bottom: 12px;
}

#QA .answer p {
    margin-bottom: 12px;
}